* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Mulish';
    src: url('./fonts/Mulish-VariableFont_wght.woff2');

}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.inline {
    display: inline-block;
}

.logo {
    margin-top: 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.category-link {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
}

.category-link-active {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #1F1534;
}


.category-box-list {
    margin-left: 40px;
}
/*====================*/

.header-info-box {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 113px;
}

.info-box {
    width: 448px;
    height: 338px;
}

.info-main-text {
    font-family: 'Mulish';
    font-weight:700px;
    font-size: 48px;
    line-height: 56px;
    line-height: 56px;
}

.info-comment {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    margin-top: 25px;
    color: #7D7987;
    margin-bottom: 48px;
}

.cunsult-link {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
    border-radius: 55px;
    padding: 18px 51px;
    color: white;
    background-color: #458FF6;
}

.header-img {
    margin-top:84px;
}

/* ======== */

.main-info {
    text-align: center;
}

.main-text {
    font-family: 'Mulish';
    font-weight: 700;
    font-size:36px ;
    margin-bottom: 26px;

}

.line {
    width: 56px;
    height: 3px;   
    background-color: black;
    border-radius: 5px;
    border:0;
    margin: auto;
    
}

.main-info-comment {
    width: 850px;
    height: 60px;
    font-family: 'Mulish';
    font-weight: 300;   
    font-size: 18px;
    margin-top: 33px;
    margin-bottom: 90px;
    color: #7D7987;
}

.card-box  {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 72px;

}

.card-box-list {
    width: 350px;
    height: 354px;
    text-align: left;
    padding: 35px;
    margin-top: 37px;
    margin-right: 34px;
    background-color: #fff;
    border-radius:20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);    
}

.card-img {
    display: flex;
    
}

.card-main-text {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 24px;
    margin-top: 35px;
}

.card-comment {
    width: 235px;
    line-height: 28px;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    color: #7D7987;

}

.link-card {
    color: #fff;
    padding: 25px;
    border-radius: 55px;
    background-color: #458FF6;
    text-decoration: none;
}

.more-link {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
    border-radius: 55px;
    padding: 18px 51px;
    color: #458FF6;
    border: 1.4px solid #458FF6;
}

/* ========== */

.three {
    display: flex;
    align-items:center;
    margin-top: 221px;

}

.info-box-two {
    width: 486px;
    height: 388px;
    margin-left: 137px;
}

.info-box-three {
    width: 486px;
    height: 388px;
    margin-right: 137px;
    
}

.info-main-text-two {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 36px;
    color: #000000;

}

.info-comment-two {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    margin-top: 31px;
    color: #7D7987;
    margin-bottom: 48px;

}
.line-two {
    width: 56px;
    height: 3px;   
    margin-top: 26px;
    background-color: black;
    border-radius: 5px;
    border: 0;
    
}

.more-link-section {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
    border-radius: 55px;
    padding: 18px 51px;
    color: #458FF6;
    border: 1.4px solid #458FF6;
    
}

.vector {
    margin-left: 15px;
}

/* ====================== */

/* 
.customer-box {
    width: 1120px;
    height: 425px;
    padding: 68px 120px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;

}

.customer-main-text {
    text-align: center;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 36px;
    color: white;
}

.line-customer {
    width: 56px;
    height: 3px;   
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border:0;
    margin: 25px auto 66px auto;
}

.customer-img {
    border-radius: 50%;
    border: 5px solid white;
}

.customer-name {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 22px;
    color:white;
}

.customer-info {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);   
}

.customer-main-info {
    text-align: right;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 19px;
    width: 420px;
    height: 140px;
    color: rgba(255, 255, 255, 0.9); 
}

.customer-right-box {
    height: 60px;
} */

.custemer-box {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    height: 425px;
    left: 244px;
    border-radius: 24px;
    padding-top: 68px;
    margin-top: 270px;
}

.custemer-box-quation {
    text-align: center;
    margin-top: 0;
    font-family: sans-serif;
    font-size: 36px;
    color: white;
}

.custemer-line {
    /* width: 56px;
    height: 2.5px;
    border-radius: 6px;
    background-color: white;
    margin: auto; */
    width: 56px;
    height: 3px;   
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border:0;
    margin: 25px auto 20px auto;
}

.custemer-bottom {
    display: flex;
}

.custemer-img {
    width: 141px;
    height: 141px;
    margin-top: 70px;
    margin-left: 120px;
    border-radius: 50% ;
    border: solid white 5px;
}

.custemer-info {
    margin-top: 97px;
    margin-left: 30px;
}

.custemer-name {
    font-family: sans-serif;
    font-size: 22px;
    color: white;
}

.custemer-text {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

.custemer-comment {
    font-family: sans-serif;
    font-size: 19px;
    margin-top: 120px;
    margin-left: 120px;
    width: 376px;
    height: 120px;
    color: white;
    
}

.comment-page {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.vector-1 {
    margin-right: 92px;
    margin-left: 350px;
}

.vector-2 {
    margin-right: 350px;
    margin-left: 92px;
}

.page-dots {
    display: flex;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.dots {
    background-color:#CEE1FB;
    border-radius: 50%;
    margin: 0;
    width: 10px;
    height: 10px;
    margin: 18px;
}

.active-dot {
    background-color: #5B9BF3;
}

.footer-text {
    text-align: center;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 36px;
    margin-top: 220px;
}

.footer-line {
    width: 56px;
    height: 3px;   
    background-color: black;
    border-radius: 5px;
    border:0;
    margin: 26px auto 0 auto;
}

.footer-card-box {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 76px;
    margin-bottom: 72px;
    list-style-type: none;

}

.footer-card {
    width: 350px;
    height: 512px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.footer-card-img {
    border-radius: 20px 20px 0 0 ;
}

.footer-card-main-text {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    width: 251px;
    margin-top: 21px;
    margin-left: 33px;
}

.card-info {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    width: 255px;
    margin-top: 12px;
    margin-bottom: 25px;
    margin-left: 33px;
    color: #7D7987;
}

.card-link {
    font-family: 'Mulish';  
    line-height: 28px;
    text-decoration: none;
    margin-left: 33px;    
    color: #4089ED;;
}

.footer-vector {
    margin-left: 8px;
}

.view-link {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 55px;
    padding: 18px 51px;
    color: #458FF6;
    border: 1.4px solid #458FF6;
    margin-left: 515px;
}

.footer {
    height: 432px;
    margin-top: 200px;
    padding: 110px 0 110px 0;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer-box {
    display: flex;
}

.footer-category-box {
    display: flex;
    list-style-type: none;
    
}

.category-list-contact {
    width: 142px;
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}

.trafalgar-info-text {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin-top: 31px;
    color: white;
}

/* ------------------ */

.footer-logo {
    margin-bottom: 17PX;
}

.footer-text-info {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-right: 145px;
    width: 385px;
    color: white;
}

.company {
    margin-right: 140px;
}

.region {
    margin-right: 140px;
    
}

.category-main-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
    color: white;
    
}

.category-list {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;

}